/frontend/node_modules
/frontend/dist
/frontend/.tmp
/frontend/.sass-cache
/frontend/bower_components
/frontend/app/scripts/config.js
/frontend/etc/
/frontend/test/

/backend/target/
/backend/nb-configuration.xml
/backend/nbactions-tomcat7.xml
/backend/src/main/resources/citrino.properties
/backend/.classpath
/backend/.project
/backend/.settings/

/frontend/nbproject/
/frontend/package-lock.json
